.counter_container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.buttons_wrapper {
  border-radius: 30;
  background: #e35178;
  display: flex;
  gap: 12px;
  font-weight: 700;
  font-size: 20px;
}
